<div class="container">
<div class="center jumbotron">
	<h1>BLOG-MENLO</h1>
	<%= link_to "Sign up now", "#", class: "btn btn-danger btn-lg btn-xlg" %>

<%= link_to "Blog-menlo", articles_path %>
<br>
<%= link_to 'About', about_path %>

</div>
</div>
<!-- <%= link_to image_tag('stewie.jpg') %> -->
